{
    "property" {
        "property-id" "tag:brunnels@noreply.openkim.org,2016-02-18:property/grain-boundary-symmetric-tilt-energy-relaxed-relation-cubic-crystal"
        "display-name" "Relaxed symmetric tilt grain boundary energy versus tilt angle relation for a cubic crystal"
    },

    "comparison-keys" [
        {"key" "tilt-angle", "units" nil, "display-name" "Tilt angle"}
        {"key" "relaxed-grain-boundary-energy", "units" "eV/angstrom^2", "display-name" "Relaxed grain boundary energy"}
    ],

    "match-keys" [
        {"key" "short-name", "units" nil, "display-name" "Crystal structure"}
        {"key" "species", "units" nil, "display-name" "Species"}
        {"key" "tilt-axis", "units" nil, "display-name" "Tilt axis"}
        {"key" "minimum-atom-separation", "units" "angstrom", "display-name" "Tilt angle", "match-requirement" "optional"}
        {"key" "sigma", "units" nil, "display-name" "Sigma ratio", "match-requirement" "optional"}
    ]
}
