{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2017-07-31:property/enthalpy-of-mixing-curve-substitutional-binary-cubic-crystal-npt"
        "display-name" "Enthalpy of Mixing versus Concentration for Substitutional Random Binary A-B Cubic Crystal Alloys under NPT Conditions"
    },

    "comparison-keys" [
        {"key" "concentration", "display-name" "Concentration (fraction of atom sites with B atoms)"}
        {"key" "a", "units" "angstrom", "display-name" "Lattice constant a"}
        {"key" "enthalpy-of-mixing", "units" "eV", "display-name" "Enthalpy of mixing"}
        {"key" "crystal-is-stable", "display-name" "Crystal stability"}
    ],

    "match-keys" [
        {"key" "short-name", "display-name" "Crystal structure"}
        {"key" "A-species", "display-name" "Type A atom species"}
        {"key" "B-species", "display-name" "Type B atom species"}
        {"key" "cauchy-stress", "units" "GPa", "display-name" "Cauchy stress"}
        {"key" "temperature", "units" "K", "display-name" "Temperature"}
    ]
}
