{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/cohesive-potential-energy-cubic-crystal",
        "display-name" "Cohesive energy of cubic crystal structure at zero temperature under stress-free boundary conditions"
    },

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "extent" [], "display-name" "Lattice constant"}
        {"key" "cohesive-potential-energy", "units" "eV", "extent" [], "display-name" "Cohesive energy"}
    ],

    "match-keys" [
        {"key" "species", "units" nil, "extent" [], "display-name" "Species"}
        {"key" "short-name", "units" nil, "extent" [], "display-name" "Crystal structure"}
    ]
}
