{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2015-05-26:property/structure-2d-hexagonal-crystal-npt"
        "display-name" "Equilibrium two-dimensional layer hexagonal crystal structure at a given temperature and stress state"
    },

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "display-name" "a"}
    ],

    "match-keys" [
        {"key" "species", "units" nil, "display-name" "Species"}
        {"key" "short-name", "units" nil, "display-name" "Crystal structure"}
        {"key" "cauchy-in-plane-stress", "units" "GPa*m", "display-name" "Cauchy in-plane stress"}
        {"key" "temperature", "units" "K", "display-name" "Temperature"}
    ]
}
