/definition-validator/target
/definition-validator/.target
/definition-validator/classes
/definition-validator/checkouts
/definition-validator/pom.xml
/definition-validator/pom.xml.asc
/definition-validator/*.jar
/definition-validator/*.class
/definition-validator/.lein-*
/definition-validator/.nrepl-port
/instance-validator/target
/instance-validator/.target
/instance-validator/classes
/instance-validator/checkouts
/instance-validator/pom.xml
/instance-validator/pom.xml.asc
/instance-validator/*.jar
/instance-validator/*.class
/instance-validator/.lein-*
/instance-validator/.nrepl-port
