{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2015-05-26:property/shear-stress-path-cubic-crystal"
        "display-name" "Shear strain and stability versus first Piola-Kirchhoff shear stress path of a cubic crystal"
    },

    "comparison-keys" [
        {"key" "nominal-shear-strain", "units" nil, "extent" [":"], "display-name" "Shear strain"}
        {"key" "nominal-shear-stress", "units" "eV/angstrom^3", "extent" [":"], "display-name" "Nominal (1st PK) shear stress"}
        {"key" "cauchy-born-stability", "units" nil, "extent" [":"], "display-name" "Cauchy-Born stability"}
    ],

    "match-keys" [
        {"key" "species", "units" nil, "extent" [], "display-name" "Species"}
        {"key" "short-name", "units" nil, "extent" [], "display-name" "Crystal structure"}
        {"key" "shear-direction", "units" nil, "extent" [":"], "display-name" "Shear direction"}
        {"key" "shear-plane-normal", "units" nil, "extent" [":"], "display-name" "Shear plane normal"}
    ]
}
