{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2015-05-26:property/cohesive-potential-energy-2d-hexagonal-crystal",
        "display-name" "Cohesive energy of two-dimensional layer hexagonal crystal structure at zero temperature under stress-free boundary conditions"
    },

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "display-name" "Lattice constant a"}
        {"key" "cohesive-potential-energy", "units" "eV", "display-name" "Cohesive energy"}
    ],

    "match-keys" [
        {"key" "short-name", "units" nil, "display-name" "Crystal structure"}
        {"key" "species", "units" nil, "display-name" "Species"}
    ]
}
