{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/structure-orthorhombic-crystal-npt"
        "display-name" "Equilibrium orthorhombic crystal structure at a given temperature and stress state"
    },

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "display-name" "Lattice constant a"}
        {"key" "b", "units" "angstrom", "display-name" "Lattice constant b"}
        {"key" "c", "units" "angstrom", "display-name" "Lattice constant c"}
    ],

    "match-keys" [
        {"key" "short-name", "units" nil, "display-name" "Crystal structure"}
        {"key" "species", "units" nil, "display-name" "Species"}
        {"key" "cauchy-stress", "units" "GPa", "display-name" "Cauchy stress"}
        {"key" "temperature", "units" "K", "display-name" "Temperature"}
    ]
}
