{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2023-02-21:property/binding-energy-crystal"
        "display-name" "Equilibrium crystal structure and binding energy at zero temperature and applied stress"
    }

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "display-name" "a lattice constant"}
        {"key" "parameter-values", "display-name" "Crystal prototype parameter values", "labels" "parameter-names"}
        {"key" "binding-potential-energy-per-formula", "units" "eV", "display-name" "Binding potential energy per formula"}
        {"key" "binding-potential-energy-per-atom", "units" "eV", "display-name" "Binding potential energy per atom"}
    ]

    "match-keys" [
        {"key" "prototype-label", "display-name" "Crystal prototype label"}
        {"key" "short-name", "display-name" "Crystal structure", "match-requirement" "optional"}
        {"key" "stoichiometric-species", "display-name" "Stoichiometric species"}
    ]
}
