{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/structure-rhombohedral-crystal-npt"
        "display-name" "Equilibrium rhombohedral crystal structure at a given temperature and stress state"
    },

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "extent" [], "display-name" "a"}
        {"key" "alpha", "units" "degrees", "extent" [], "display-name" "alpha"}
    ],

    "match-keys" [
        {"key" "species", "units" nil, "extent" [], "display-name" "Species"}
        {"key" "short-name", "units" nil, "extent" [], "display-name" "Crystal structure"}
        {"key" "cauchy-stress", "units" "GPa", "extent" [":"], "display-name" "Cauchy stress"}
        {"key" "temperature", "units" "K", "extent" [], "display-name" "Temperature"}
    ]
}
