{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-05-21:property/surface-energy-ideal-cubic-crystal"
        "display-name" "Ideal surface energy for a cubic crystal"
    },

    "comparison-keys" [
        {"key" "ideal-surface-energy", "units" "eV/angstrom^2", "display-name" "Surface energy"}
    ],

    "match-keys" [
        {"key" "short-name", "display-name" "Crystal structure"}
        {"key" "species", "display-name" "Species"}
        {"key" "miller-indices", "display-name" "Surface Miller indices"}
        {"key" "termination", "display-name" "Surface termination", "match-requirement" "optional"}
        {"key" "step-structure-notation", "display-name" "Step structure notation", "match-requirement" "optional"}
        {"key" "wood-notation", "display-name" "Wood notation", "match-requirement" "optional"}
        {"key" "cauchy-stress", "units" "GPa", "display-name" "Cauchy stress"}
    ]
}
