{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/bulk-modulus-isothermal-cubic-crystal-npt"
        "display-name" "Isothermal bulk modulus of a cubic crystal at constant temperature and hydrostatic stress"
    },

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "extent" [], "display-name" "Lattice constant a"}
        {"key" "isothermal-bulk-modulus", "units" "GPa", "extent" [], "display-name" "Isothermal bulk modulus"}
    ],

    "match-keys" [
        {"key" "species", "units" nil, "extent" [], "display-name" "Species"}
        {"key" "short-name", "units" nil, "extent" [], "display-name" "Crystal structure"}
        {"key" "cauchy-stress", "units" "GPa", "extent" [":"], "display-name" "Cauchy stress"}
        {"key" "temperature", "units" "K", "extent" [], "display-name" "Temperature"}
    ]
}
