{
  "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/cubic-monoatomic-isothermal-bulk-modulus"
  
  "property-title" "Isothermal bulk modulus of a monotatomic cubic lattice at a given temperature."

  "property-description" "Isothermal bulk modulus of a monoatomic cubic lattice at zero pressure at a given temperature."

  "cubic-crystal-type" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "Short name defining the cubic crystal type."
  }
  "species" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "The element symbol of the particles."
  }
  "lattice-constant" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Average equilibrium conventional lattice constant of the cubic crystal."
  }
  "isothermal-bulk-modulus" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description" "Isothermal bulk modulus of the monoatomic cubic lattice at the specified temperature under stress-free boundary conditions." 
  }
  "temperature" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Temperature of crystal."
  }
}
