{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-05-21:property/elastic-constants-isothermal-cubic-crystal-npt"
        "display-name" "Isothermal elastic constants for a cubic crystal at constant temperature and stress"
    },

    "comparison-keys" [
        {"key" "c11", "units" "GPa", "extent" [], "display-name" "Isothermal C11"}
        {"key" "c12", "units" "GPa", "extent" [], "display-name" "Isothermal C12"}
        {"key" "c44", "units" "GPa", "extent" [], "display-name" "Isothermal C44"}
    ],

    "match-keys" [
        {"key" "species", "units" nil, "extent" [], "display-name" "Species"}
        {"key" "short-name", "units" nil, "extent" [], "display-name" "Crystal structure"}
        {"key" "cauchy-stress", "units" "GPa", "extent" [":"], "display-name" "Cauchy stress"}
        {"key" "temperature", "units" "K", "extent" [], "display-name" "Temperature"}
    ]
}
