{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/structure-cubic-crystal-npt"
        "display-name" "Equilibrium cubic crystal structure at a given temperature and hydrostatic stress"
    },

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "display-name" "Lattice constant a"}
    ],

    "match-keys" [
        {"key" "short-name", "display-name" "Crystal structure"}
        {"key" "species", "display-name" "Species"}
        {"key" "cauchy-stress", "units" "GPa", "display-name" "Cauchy stress"}
        {"key" "temperature", "units" "K", "display-name" "Temperature"}
    ]
}
