{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2015-07-28:property/monovacancy-neutral-unrelaxed-formation-potential-energy-crystal-npt"
        "display-name" "Unrelaxed formation potential energy of a neutral monovacancy in a crystal at zero temperature and a given stress state"
    },

    "comparison-keys" [
        {"key" "unrelaxed-formation-potential-energy", "units" "eV", "display-name" "Unrelaxed formation potential energy"}
    ],

    "match-keys" [
        {"key" "host-short-name", "display-name" "Host crystal structure"}
        {"key" "host-wyckoff-species", "display-name" "Host Wyckoff species"}
        {"key" "host-removed-atom", "display-name" "Host removed atom index", "match-requirement" "optional"}
        {"key" "host-cauchy-stress", "units" "GPa", "display-name" "Host Cauchy stress"}
        {"key" "reservoir-short-name", "display-name" "Reservoir crystal structure"}
        {"key" "reservoir-wyckoff-species", "display-name" "Reservoir Wyckoff species"}
        {"key" "reservoir-cauchy-stress", "units" "GPa", "display-name" "Reservoir Cauchy stress"}

    ]
}
