{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/cohesive-energy-relation-cubic-crystal"
        "display-name" "Cohesive energy versus lattice constant relation for a cubic crystal"
    },

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "display-name" "Lattice constant a"}
        {"key" "cohesive-potential-energy", "units" "eV", "display-name" "Cohesive energy"}
    ],

    "match-keys" [
        {"key" "short-name", "display-name" "Crystal structure"}
        {"key" "species", "display-name" "Species"}
    ]
}
