{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-05-21:property/phonon-dispersion-dos-cubic-crystal-npt"
        "display-name" "Phonon dispersion density of states for a cubic crystal"
    },

    "comparison-keys" [
        {"key" "energy", "units" "eV", "display-name" "Energy"}
        {"key" "density-of-states", "units" nil, "display-name" "Energy"}
    ],

    "match-keys" [
        {"key" "species", "units" nil, "display-name" "Species"}
        {"key" "short-name", "units" nil, "display-name" "Crystal structure"}
        {"key" "cauchy-stress", "units" "GPa", "display-name" "Cauchy stress"}
        {"key" "temperature", "units" "K", "display-name" "Temperature"}
    ]
}
