{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2024-07-10:property/elastic-constants-isothermal-npt"
        "display-name" "Isothermal elastic constants of a crystal at a given temperature and stress state"
    }

    "comparison-keys" [
        {"key" "a", "units" "angstrom", "display-name" "a lattice constant"}
        {"key" "parameter-values", "display-name" "Crystal prototype parameter values", "labels" "parameter-names"}
        {"key" "elastic-constants-values", "display-name" "Elastic constants", "labels" "elastic-constants-names"}
    ]

    "match-keys" [
        {"key" "prototype-label", "display-name" "Crystal prototype label"}
        {"key" "short-name", "display-name" "Crystal structure", "match-requirement" "optional"}
        {"key" "stoichiometric-species", "display-name" "Stoichiometric species"}
        {"key" "cell-cauchy-stress", "units" "GPa", "display-name" "The [xx,yy,zz,yz,xz,xy] components of the prescribed symmetric Cauchy stress tensor"}
        {"key" "temperature", "units" "K", "display-name" "Temperature of the crystal"}
    ]
}
