{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2015-07-30:property/linear-thermal-expansion-coefficient-cubic-crystal-npt"
        "display-name" "Linear thermal expansion coefficient of a cubic crystal structure at given temperature and pressure"
    },

    "comparison-keys" [
        {"key" "linear-thermal-expansion-coefficient", "units" "1/K", "display-name" "Linear thermal expansion coefficient"}
    ],

    "match-keys" [
        {"key" "short-name", "units" nil, "display-name" "Crystal structure"}
        {"key" "species", "units" nil, "display-name" "Species"}
        {"key" "cauchy-stress", "units" "GPa", "display-name" "Cauchy stress"}
        {"key" "temperature", "units" "K", "display-name" "Temperature"}
    ]
}
