{
  "contributor-username" "PhilippHoellmer"
  "contributor-uuid" "7a6f5f51-721c-4695-8da7-e8fffa62ed24"
  "maintainer-username" "PhilippHoellmer"
  "maintainer-uuid" "7a6f5f51-721c-4695-8da7-e8fffa62ed24"
}
