{
  "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/monovacancy-formation-free-energy-monoatomic-cubic-diamond"

  "property-title" "Formation free energy of a monovacancy in a monoatomic cubic diamond crystal at finite temperature"

  "property-description" "Unrelaxed and relaxed formation Helmholtz free energies of a monovacancy in a monoatomic cubic diamond crystal with stress-free boundary conditions at a constant specified temperature."

  "species" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "The element symbol of the atoms."
  }
  "a" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Conventional lattice constant of the perfect cubic diamond crystal (i.e. without the monovacancy introduced) at the specified temperature under zero stress conditions."
  }
  "temperature" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Temperature of the crystal."
  }
  "unrelaxed-configuration-positions" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",3]
    "required"     true
    "description"  "The average [x,y,z] coordinates of each particle in the initial unrelaxed configuration.  Corresponds to the initial guess used in the minimization."
  }
  "unrelaxed-configuration-forces" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",3]
    "required"     false
    "description"  "The [x,y,z] components of the average force on each particle in the initial unrelaxed configuration."
  }
  "unrelaxed-formation-free-energy" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Formation Helmholtz free energy of the monovacancy in the unrelaxed configuration."
  }
  "relaxed-configuration-positions" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",3]
    "required"     true
    "description"  "The average [x,y,z] coordinates of each particle in the relaxed configuration."
  }
  "relaxed-configuration-forces" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",3]
    "required"     false
    "description"  "The [x,y,z] components of the average force on each particle in the relaxed configuration.  These should be zero.  The deviation is an indication of the accuracy of the relaxation."
  }
  "relaxed-formation-free-energy" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Formation Helmholtz free energy of the monovacancy in the relaxed configuration."
  }
}
