{
   "property-id" "tag:staff@noreply.openkim.org,2015-05-26:property/unstable-twinning-energy-fcc-crystal"

   "property-title" "Unstable twinning energy for an fcc crystal at specified temperature and configuration"

   "property-description" "The unstable twinning energy (UTE) for an fcc crystal at specified temperature and configuration. The configuration is defined by the lattice constant and/or pressure. The UTE corresponds to the energy barrier for rigidly slipping one part of an infinite crystal on a {111} plane adjacent to a preexisting intrinsic stacking fault relative to the other part along a <112> direction (fcc partial dislocation direction)."

   "a" {
       "type"         "float"
       "has-unit"     true
       "extent"       []
       "required"     false
       "description"  "Average equilibrium conventional lattice constant of the fcc crystal. Either the lattice constant and/or the pressure must be specified. (If both are specified they must be consistent.)"
   }

   "species" {
       "type"         "string"
       "has-unit"     false
       "extent"       []
       "required"     true
       "description"  "The element symbol of the fcc crystal material."
   }

   "temperature" {
      "type"          "float"
      "has-unit"      true
      "extent"        []
      "required"      true
      "description"   "Temperature of the crystal."
   }

   "pressure" {
      "type"          "float"
      "has-unit"      true
      "extent"        []
      "required"      false
      "description"   "Pressure in the crystal. Either the lattice constant and/or the pressure must be specified. (If both are specified they must be consistent.)"
   }
   "unstable-twinning-energy" {
       "type"         "float"
       "has-unit"     true
       "extent"       []
       "required"     true
       "description"  "Unstable twinning energy in units of energy per area."
   }

   "unstable-slip-fraction" {
       "type"         "float"
       "has-unit"     false
       "extent"       []
       "required"     false
       "description"  "The relative displacement in the 1/6<112> direction between the two crystal parts where the energy is maximum. The slip is normalized by the partial dislocation Burgers vector a0/sqrt(6). The slip is measured from an ideal fault-free structure. At a value of 1.0, an intrinsic stacking fault is formed. Therefore 'unstable-slip-fraction' must be between 1.0 and 2.0."
   }
}
