{
  "property-id"           "tag:tadmor@noreply.openkim.org,2016-07-07:property/verification-check"
  "property-title"        "Universal verification check property"
  "property-description"  "Verification checks are designed to explore basic KIM item characteristics and conformance to the KIM API standard. Results from verification checks are reported in the standardized form defined in this property definition."
  "vc-name" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "A short name describing the verification check."
  }
  "vc-category" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "The verification check category. There are three possibilities: `informational', `consistency', and `mandatory'. Informational verification checks provide useful information about the KIM item that have no implications regarding its internal consistency. Consistency verification checks test for violations of internal consistency (e.g. a model's forces are not the negative gradient of the energy). Mandatory verification checks test for failures of a KIM item to satisfy critical KIM API requirements or declared capabilities (such as supporting a specified species)."
  }
  "vc-grade-basis" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "Each verification check returns a grade indicating how well the check was passed.  The type of grade returned is defined by the vc-grade-basis. There are two options: `graded' and `passfail'. A `graded' verification check returns a letter grade `A', `B', `C', `D' or `F' (where `A' is best, and `F' indicated failure). A `passfail' verification check returns `P' for pass, or `F' for fail."
  }
  "vc-grade" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "The verification check grade as defined by vc-grade-basis."
  }
  "vc-files" {
    "type"         "file"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "A list of one or more files generated by the VC.  For example, these can be data files of results or graphic figures."
  }
  "vc-comment" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     false
    "description"  "Text generated by the verification check to accompany the grade.  This can provide additional information to explain or qualify the result."
  }
}
