{
   "property-id" "tag:staff@noreply.openkim.org,2015-05-26:property/extrinsic-stacking-fault-energy-fcc-crystal-npt"

   "property-title" "Extrinsic stacking fault energy for a monoatomic fcc crystal at a specified pressure and temperature"

   "property-description" "The extrinsic stacking fault (ESF) energy for a monoatomic fcc crystal at a specified pressure and temperature. The ESF corresponds to an ABC|BA|BC stacking, which can also be understood as a two-layer twin nucleus."

   "a" {
       "type"         "float"
       "has-unit"     true
       "extent"       []
       "required"     true
       "description"  "Average equilibrium conventional lattice constant of the fcc crystal consistent with the specified pressure and temperature."
   }

   "species" {
       "type"         "string"
       "has-unit"     false
       "extent"       [":"]
       "required"     true
       "description"  "The element symbol of the fcc crystal material. This should contain only a single entry."
   }

   "temperature" {
      "type"          "float"
      "has-unit"      true
      "extent"        []
      "required"      true
      "description"   "Temperature of the crystal."
   }

   "cauchy-stress" {
      "type"         "float"
      "has-unit"     true
      "extent"       [6]
      "required"     true
      "description"  "The [xx,yy,zz,yz,xz,xy] (i.e. [11,22,33,23,13,12]) components of the Cauchy stress acting on the crystal.  The orthonormal basis used to express the stress should be aligned with the cubic 4-fold axes of the ideal crystal and the expected form of the stress tensor should be [d d d 0 0 0], where d > 0 indicates tensile stress."
   }

   "extrinsic-stacking-fault-energy" {
       "type"         "float"
       "has-unit"     true
       "extent"       []
       "required"     true
       "description"  "The extrinsic stacking fault energy in units of energy per area."
   }

}
