{
  "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/hexagonal-monoatomic-isothermal-bulk-modulus"
  
  "property-title" "Isothermal bulk modulus of a monoatomic hexagonal lattice at a given temperature."

  "property-description" "Isothermal bulk modulus of a monoatomic hexagonal lattice at zero pressure at a given temperature."

  "hexagonal-crystal-type" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "Short name defining the hexagonal crystal type."
  }
  "species" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "The element symbol of the particles."
  }
  "hexagonal-plane-lattice-constant" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Average equilibrium conventional lattice constant of the hexagonal crystal, typically denoted by 'a'.  This corresponds to the nearest-neighbor distance within each hexagonal plane."
  }
  "axial-lattice-constant" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Average interplanar spacing of the hexagonal planes of the crystal, typically denoted by 'c'."
  }
  "isothermal-bulk-modulus" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description" "Isothermal bulk modulus of the monoatomic hexagonal lattice at the specified temperature under zero-pressure boundary conditions, defined as the change in hydrostatic pressure due to an incremental dilatational deformation."
  }
  "temperature" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Temperature of crystal."
  }
}
