{
    "property" {
        "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/cohesive-free-energy-hexagonal-crystal"
        "display-name" "Cohesive free energy of hexagonal crystal structure at a given temperature under stress-free boundary conditions"
    },

    "comparison-keys" [
        {"key" "cohesive-free-energy", "units" "eV", "display-name" "Cohesive free energy"}
    ],

    "match-keys" [
        {"key" "short-name", "display-name" "Crystal structure"}
        {"key" "species", "display-name" "Species"}
        {"key" "temperature", "units" "K", "display-name" "Temperature"}
    ]
}
